<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Plotly Chart Demo
    </h1>
    
    <p>Click to see charts on different pages</p>
    
    <h1><a href="chart1">Grafica de Barras</a></h1>
    <h1><a href="chart2">Grafica de Pastel</a></h1>
    <h1><a href="chart3">Grafica de tendencia</a></h1>
    <h1><a href="chart4">Grafica de linea de tendencia</a></h1>
    <h1><a href="chart5">Grafica de Burbujas</a></h1>
    <h1><a href="chart6">Mapa de calor</a></h1>

</body>
</html>